<div>
  <h1>Подключенные услуги</h1>
  <input class="search" placeholder="Поиск">
  <div class="service-active">
    <div>
      <p>21.05.2016</p>
      <p>&nbsp; Пакет минут</p>
    </div>
    <div>
      <p>100 руб</p>
      <button>&#10007;</button>
    </div>
  </div>
  <p>

  </p>
</div>
<div class="available-service">
  <h1>Доступные услуги</h1>
  <hr>
  <div class="available-service">
    <div>
      <input type="checkbox" id="1">
      <label for="1">Безлимитный интернет</label>
    </div>
<!--    <mat-checkbox [checked]="service.check"-->
<!--                  [color]="'warn'"-->
<!--                  (click)="onAddServiceName(service.serviceName)"-->
<!--    >-->
<!--      {{service.serviceName}}-->
<!--    </mat-checkbox>-->
    <p>170 руб</p>
  </div>
  <p>
  </p>
  <div class="container-btn">
    <button>Подключить услуги</button>
  </div>
</div>
