<div>
  <h1>Подключенные услуги</h1>
  <input class="search" placeholder="Поиск">
  <div *ngFor="let option of user.options" class="service-active">
    <div >
      <p>{{option.startDate | date: 'dd.MM.YYYY'}}</p>
      <p>&nbsp; {{option.name}}</p>
    </div>
    <div>
      <p>{{option.price}} руб</p>
      <button (click)="onRemoveOption(option.id)">&#10007;</button>
    </div>
  </div>
  <p *ngIf="showSelectedOptionNotice">
    Нет подключенных услуг
  </p>
</div>
<div class="available-service">
  <h1>Доступные услуги</h1>
  <hr>
  <div class="available-service" *ngFor="let option of availableOptions">
    <div>
      <input type="checkbox" [id]="option.id" [checked]="option.check" (click)="selectAnOption($event, option.id)">
      <label [for]="option.id">{{option.name}}</label>
    </div>
    <p>{{option.price}} руб</p>
  </div>
  <p *ngIf="showUnselectedOptionNotice">Нет доступных услуг</p>
  <div class="container-btn">
    <button *ngIf="!showUnselectedOptionNotice" (click)="onAddSelectedOptions()">Подключить услуги</button>
  </div>
</div>
